body{
background-color: rgb(102, 96, 96);
}

.titulo{

    text-align: center;
    color: aliceblue;
}

.descricao{

    text-align: center;
    color: aliceblue;
    justify-content: space-between;

}